---
import PageLayout from '@/layouts/PageLayout.astro'
import ProjectCard from '@/components/ProjectCard.tsx'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import type { Page } from 'astro'

import {
  Pagination,
  PaginationContent,
  PaginationItem,
  PaginationLink,
} from '@/components/ui/pagination'
import { getProjects, getCategoriesForProjects, getTagsForProjects } from '@/lib/data.ts'
import type { BreadcrumbProp } from '@/types.ts'
type Props = {
  projects: CollectionEntry<'projekte'>[]
  page: Page<CollectionEntry<'projekte'>>
  title?: string
}

const {
  page,
  projects,
  title
} = Astro.props

const categories = await getCategoriesForProjects()
const tags = await getTagsForProjects()

---
<PageLayout title="Referenzen" description="Referenzen" title={`Referenzen ${title ?? ''}`}>
  <div class="flex gap-12 flex-wrap xl:flex-nowrap flex-row-reverse ">
    <div class="flex-none  lg:w-48" transition:persist="sidebar">
      <div class="sticky top-56 space-y-6">
        <ul>
          <li>
            <a href="/projekte/1">Alle Referenzen</a>
          </li>
        </ul>

        <div class="text-sm font-semibold uppercase mb-2 text-black">Kategorien</div>
        <ul class="flex flex-wrap sm:flex-col">
          {categories.map((category) => (
            <li>
              <a href={`/projekte/kategorie/${category}/1`}>
                {category}
              </a>
            </li>
          ))}
        </ul>
        <div class="text-sm font-semibold uppercase mb-2 text-black">Tags</div>
        <ul class="flex flex-wrap sm:flex-col">
          {tags.map((tag) => (
            <li>
              <a href={`/projekte/tag/${tag}/1`}>
                {tag}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </div>
    <div class="flex-1 animate mb-12">
      <div class="flex flex-col">
        <ul class="flex flex-col gap-y-12">
          {projects.map((project) => (
            <li>
              <ProjectCard entry={project} />
            </li>
          ))}
        </ul>

        {page.total > 5 && <Pagination className="mt-12">
          <PaginationContent>
            {Array.from({ length: page.lastPage }, (_, i) => i + 1).map((pageNum) => (
              <PaginationItem>
                <PaginationLink href={`/projekte/${pageNum}`} isActive={pageNum === page.currentPage} size="default">
                  {pageNum}
                </PaginationLink>
              </PaginationItem>
            ))}
          </PaginationContent>
        </Pagination>
        }
      </div>
    </div>
  </div>
</PageLayout>
