---
import PageLayout from '@/layouts/PageLayout.astro'
import type { CollectionEntry } from 'astro:content'
import type { BreadcrumbProp } from '@/types.ts'
import { GithubIcon, GlobalIcon } from '@hugeicons/core-free-icons'
import { Icon } from '@/components/ui/icon.tsx'

type Props = {
  project: CollectionEntry<'projekte'>
  title?: string
  image?: string
  breadcrumbs?: BreadcrumbProp[]
}
const {
  image,
  project,
  title
} = Astro.props
const { website, repoUrl } = project.data
const breadcrumbs: BreadcrumbProp[] = [
  {
    title: 'Referenzen',
    href: '/projekte'
  },
  {
    title: title || '',
    href: ''
  }
]
---
<PageLayout title={title} description="Referenzen" breadcrumbs={breadcrumbs} >

  <div class="flex gap-6 flex-wrap xl:flex-nowrap">
    <div class="flex-1 animate space-y-6">
      <div class="flex flex-col">
        {project.data.summary &&
          <p class="font-semibold text-xl lg:text-2xl leading-normal my-6">{project.data.summary}</p>
        }
        {image && <img class="w-full border p-1 rounded-xl mb-12" src={image} alt={title} />}
        {(website || repoUrl) &&
          <div class="mt-4 flex flex-wrap gap-2">

            {repoUrl &&
              <a href={repoUrl} target="_blank" class="group inline-flex gap-2 items-center px-3 py-1.5 truncate rounded text-sm lg:text-base border border-black/25 hover:bg-black/5 blend">
                <Icon icon={GithubIcon} className="size-5"/>
                <span class="text-current group-hover:text-black blend">
                  GitHub-Repository
                </span>
              </a>
            }
            {website &&
              <a href={website} target="_blank" class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 hover:bg-black/5 blend">
                <Icon icon={GlobalIcon} className="size-5"/>
                <span class="text-current group-hover:text-black blend">
          Zur Website
        </span>
              </a>
            }
          </div>
        }
        <article>
          <slot />
        </article>
      </div>
    </div>
  </div>
</PageLayout>
