---
import PageLayout from '@/layouts/PageLayout.astro'
import ProjectCard from '@/components/ProjectCard.tsx'
import type { CollectionEntry } from 'astro:content'
import type { Page } from 'astro'
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbPage,
  BreadcrumbSeparator
} from '@/components/ui/breadcrumb'
import type { BreadcrumbProp } from '@/types.ts'

type Props = {
  project: CollectionEntry<'projekte'>
  title?: string
  image?: string
  breadcrumbs?: BreadcrumbProp[]
}
const {
  image,
  project,
  title
} = Astro.props
const { website, repoUrl } = project.data
const breadcrumbs: BreadcrumbProp[] = [
  {
    title: 'Referenzen',
    href: '/projekte'
  },
  {
    title: title || '',
    href: ''
  }
]
---
<PageLayout title={title} description="Referenzen" breadcrumbs={breadcrumbs} >

  <div class="flex gap-6 flex-wrap xl:flex-nowrap">
    <div class="flex-1 animate">
      <div class="flex flex-col">
        <article class="my-0">
          {project.data.summary && <p class="font-semibold">{project.data.summary}</p>}
        </article>
        {image && <img class="w-full border p-1 rounded-xl mb-12" src={image} alt={title} />}
        {(website || repoUrl) &&
          <div class="mt-4 flex flex-wrap gap-2">
            {website &&
              <a href={website} target="_blank" class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 hover:bg-black/5 blend">
                <svg class="size-4">
                  <use href="/ui.svg#globe" class="fill-current group-hover:fill-black blend"/>
                </svg>
                <span class="text-current group-hover:text-black blend">
          Zur Website
        </span>
              </a>
            }
            {repoUrl &&
              <a href={repoUrl} target="_blank" class="group flex gap-2 items-center px-3 py-1.5 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 hover:bg-black/5 blend">
                <svg class="size-4">
                  <use href="/ui.svg#link" class="fill-current group-hover:fill-black blend"/>
                </svg>
                <span class="text-current group-hover:text-black blend">
          Zur Repository
        </span>
              </a>
            }
          </div>
        }
        <article>
          <slot />
        </article>
      </div>
    </div>
  </div>
</PageLayout>
